$mainFont: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$mainColor: #8A6E4B;
$secondColor: #fff;
$thirdColor: #000;
// Screen Size
$mobile: "(max-width: 575.98px)";
$responsive: "(max-width: 767.98px)";
$tablet: "(max-width: 991.98px)";
$desktop: "(max-width: 1199.98px)";